body {
    margin: 0px;
}

#scene {
    width: 100vw;
    height: 56.25vw;
    position: absolute;
    background-color: orange;
}

button1 {
    background-color: blue;
    border-radius: 50px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Futura', sans-serif;
    font-size: 10px;
}

button2 {
    background-color: blueviolet;
    border-radius: 50px;
    color: white;
    padding: 10px 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-family: 'Futura', sans-serif;
    font-size: 10px;
}

#jonas_container {
    position: absolute;
    left: 40%;
    top: 20%;
}

#box {
    width: 200px;
    height: 200px;
    background-color: red;
}

.jonasstart {
    animation-name: jonasstart_kf;
    animation-duration: 3s;
    animation-iteration-count: 3;
    animation-timing-function: steps(2);
    animation-fill-mode: both;
    animation-delay: 2s;
}

@keyframes jonasstart_kf {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -200%;
    }
}

#jonas_sprite {
    background-image: url("img/jonas_final_1.svg");
    background-size: 800%;
    width: 20vw;
    height: 40vw;
}

.jonasthink {
    animation-name: jonasthink_kf;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: steps(7);
    animation-fill-mode: both;
    animation-delay: 1.5s;
}

@keyframes jonasthink_kf {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -700%;
    }
}

#nude_container {
    position: absolute;
    left: 55%;
    top: 30%;
}

#nude_sprite {
    background-image: url("img/nude.svg");
    background-size: 20%;
    width: 26vw;
    height: 48vw;
    display: none;
    background-repeat: no-repeat;
}

.nude {
    animation-name: nude_kf;
    animation-duration: 3s;
    animation-delay: 3s;
}

@keyframes nude_kf {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(3deg);
    }
}

#jubel_container {
    position: absolute;
    left: 40%;
    top: 20%;
    display: none;
}

#jubel_sprite {
    background-image: url(img/textbox.svg);
    background-size: 100%;
    height: 10vw;
    width: 10vw;
}

.jubel {
    animation-name: jubel_kf;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes jubel_kf {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(4deg);
    }
}

#share_container {
    position: absolute;
    left: 40%;
    top: 20%;
    display: none;
}

#share_sprite {
    background-image: url(img/grlsad.svg);
    background-size: 2100%;
    height: 31vw;
    width: 37.5vw;
}

.share_test {
    animation-name: sharetest_kf;
    animation-duration: 2s;
    animation-iteration-count: 3;
    animation-timing-function: steps(21);
    animation-fill-mode: both;
}

@keyframes sharetest_kf {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: -2100%;
    }
}

#mobil_container {
    position: absolute;
    left: 30%;
    top: 2%;
    animation-duration: 3s;
    display: none;
}

#mobil_sprite {
    background-image: url(svg/mobilsprite.svg);
    background-size: 100%;
    height: 50vw;
    width: 50vw;
    background-repeat: no-repeat;
}

.mobil_anim {
    animation-name: mobilanim_kf;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: (6);
    animation-fill-mode: both;
}

@keyframes mobilanim_kf {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -600%;
    }
}

#prison_container {
    position: absolute;
    left: 35%;
    top: -5%;
    animation-duration: 2s;
    display: none;
}

#prison_sprite {
    background-image: url(img/prison.svg);
    background-size: 100%;
    height: 50vw;
    width: 50vw;
    background-repeat: no-repeat;
}

.prison_rotate {
    animation-name: prison_rotate_kf;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes prison_rotate_kf {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(4deg);
    }
}

.prison_fall {
    animation-name: prison_fall_kf;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes prison_fall_kf {
    0% {
        left: 35%;
        top: -5%;
    }
    100% {
        left: 35%;
        top: 30%;
    }
}

#privatsnak_container {
    position: absolute;
    left: 40%;
    top: 20%;
    display: none;
}

#privatsnak_sprite {
    background-image: url(img/logo-privatsnak.png);
    background-repeat: no-repeat;
    background-size: 20%;
    width: 129vw;
    height: 187vw;
}

.privatsnak_animation {
    animation-name: privatsnak_kf;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
}

@keyframes privatsnak_kf {
    from {
        left: 40%;
        top: 40%;
    }
    to {
        left: 30%;
        top: 40%;
    }
}

#anonym_container {
    position: absolute;
    left: 10%;
    top: 10%;
    display: none;
}

#anonym_sprite {
    background-image: url(img/anonym-badge.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 21.1875vw;
    height: 28.25vw;
}

.anonym_animation {
    animation-name: anonym_kf;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
}

@keyframes anonym_kf {
    from {
        left: 40%;
        top: 40%;
    }
    to {
        left: 30%;
        top: 40%;
    }
}
