body {
    margin: 0px;
}

#scene {
    width: 100vw;
    height: 56.25vw;
    position: absolute;
    background-color: orange;

}

#jonas_container {
    position: absolute;
    left: 40%;
    top: 20%;

}

#jonas_sprite {
    background-image: url("img/jonas_final_1.svg");
    background-size: 800%;
    width: 20vw;
    height: 40vw;
}

.jonasthink {
    animation-name: jonasthink_kf;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: steps(7);
    animation-fill-mode: both;

}

@keyframes jonasthink_kf {
    0% {
        background-position: 0;

    }



    100% {
        background-position: -700%;
    }
}


#nude_container {
    position: absolute;
    left: 40%;
    top: 20%;
    background-repeat: no-repeat;


}

#nude_sprite {
    background-image: url("img/nude.svg");
    background-size: 100%;
    width: 26px;
    height: 48px;
    display: none;
}

.nude {
    animation-name: nude_kf;
    animation-duration: 2s;
    transform: rotate(360deg);
}

@keyframes nude_kf {
    from {

        transform: rotate(0deg);

    }
    to {

        transform: rotate(360deg);
    }
}

#share_container {
    position: absolute;
    left: 30%;
    top: 30%;
    display: none;
}

#share_sprite {
    background-image: url(img/textbox.svg);
    background-size: 50%;
    height: 50vw;
    width: 50vw;
    background-repeat: no-repeat;
}

.share_test {
    animation-name: sharetest_kf;
    animation-duration: 0.5s;
    animation-iteration-count: 3;

}

@keyframes sharetest_kf {
    from {
        background-position: 0%;

    }
    to {
        background-position: 2%;
    }
}


#prison_container {
    position: absolute;
    top: 12%;
    left: 50%;
    animation-duration: 2s;
    display: none;

}

#prison_sprite {
    background-image: url(img/prison.svg);
    background-size: 50%;
    height: 50vw;
    width: 50vw;
    background-repeat: no-repeat;
}

.prison_rotate {
    animation-name: prison_rotate_kf;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;

}


@keyframes prison_rotate_kf {
    from {

        transform: rotate(0deg);

    }
    to {

        transform: rotate(4deg);
    }
}


.prison_fall {
    animation-name: prison_fall_kf;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes prison_fall_kf {
    0% {

        top: 10%;

    }

    100% {

        top: 70%;
    }
}
